
// .root {
//   height: 100%;
// }
// .login-page {
//   height: 100%;
//   display: flex;
//   justify-content: center;
//   background-image: '../images/loginBack.webp'
// }
.login-form1 {
  max-width: 400px;
  width: 350px;
  position: relative;
  top: calc((100vh - 300px) / 2);
}
// .login-form-forgot {
//   float: right;
// }
// .ant-col-rtl .login-form-forgot {
//   float: left;
// }
// .login-form-button {
//   width: 100%;
// }
